<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>047</key>
	<string>com.tight.emojiink.animals</string>
	<key>278</key>
	<string>com.tight.emojiink.animals</string>
	<key>300</key>
	<string>com.tight.emojiink.animals</string>
	<key>335</key>
	<string>com.tight.emojiink.animals</string>
	<key>361</key>
	<string>com.tight.emojiink.animals</string>
	<key>377</key>
	<string>com.tight.emojiink.animals</string>
	<key>381</key>
	<string>com.tight.emojiink.animals</string>
	<key>383</key>
	<string>com.tight.emojiink.animals</string>
	<key>388</key>
	<string>com.tight.emojiink.animals</string>
	<key>393</key>
	<string>com.tight.emojiink.animals</string>
	<key>394</key>
	<string>com.tight.emojiink.animals</string>
	<key>073</key>
	<string>com.tight.emojiink.animals</string>
	<key>455</key>
	<string>com.tight.emojiink.animals</string>
	<key>481</key>
	<string>com.tight.emojiink.animals</string>
	<key>526</key>
	<string>com.tight.emojiink.animals</string>
	<key>527</key>
	<string>com.tight.emojiink.animals</string>
	<key>528</key>
	<string>com.tight.emojiink.animals</string>
	<key>529</key>
	<string>com.tight.emojiink.animals</string>
	<key>534</key>
	<string>com.tight.emojiink.animals</string>
	<key>535</key>
	<string>com.tight.emojiink.animals</string>
	<key>536</key>
	<string>com.tight.emojiink.animals</string>
	<key>537</key>
	<string>com.tight.emojiink.animals</string>
	<key>080</key>
	<string>com.tight.emojiink.animals</string>
	<key>538</key>
	<string>com.tight.emojiink.animals</string>
	<key>542</key>
	<string>com.tight.emojiink.animals</string>
	<key>549</key>
	<string>com.tight.emojiink.animals</string>
	<key>555</key>
	<string>com.tight.emojiink.animals</string>
	<key>562</key>
	<string>com.tight.emojiink.animals</string>
	<key>582</key>
	<string>com.tight.emojiink.animals</string>
	<key>620</key>
	<string>com.tight.emojiink.animals</string>
	<key>624</key>
	<string>com.tight.emojiink.animals</string>
	<key>642</key>
	<string>com.tight.emojiink.animals</string>
	<key>650</key>
	<string>com.tight.emojiink.animals</string>
	<key>107</key>
	<string>com.tight.emojiink.animals</string>
	<key>654</key>
	<string>com.tight.emojiink.animals</string>
	<key>655</key>
	<string>com.tight.emojiink.animals</string>
	<key>662</key>
	<string>com.tight.emojiink.animals</string>
	<key>666</key>
	<string>com.tight.emojiink.animals</string>
	<key>667</key>
	<string>com.tight.emojiink.animals</string>
	<key>668</key>
	<string>com.tight.emojiink.animals</string>
	<key>678</key>
	<string>com.tight.emojiink.animals</string>
	<key>701</key>
	<string>com.tight.emojiink.animals</string>
	<key>705</key>
	<string>com.tight.emojiink.animals</string>
	<key>706</key>
	<string>com.tight.emojiink.animals</string>
	<key>125</key>
	<string>com.tight.emojiink.animals</string>
	<key>708</key>
	<string>com.tight.emojiink.animals</string>
	<key>709</key>
	<string>com.tight.emojiink.animals</string>
	<key>710</key>
	<string>com.tight.emojiink.animals</string>
	<key>711</key>
	<string>com.tight.emojiink.animals</string>
	<key>712</key>
	<string>com.tight.emojiink.animals</string>
	<key>713</key>
	<string>com.tight.emojiink.animals</string>
	<key>715</key>
	<string>com.tight.emojiink.animals</string>
	<key>716</key>
	<string>com.tight.emojiink.animals</string>
	<key>723</key>
	<string>com.tight.emojiink.animals</string>
	<key>724</key>
	<string>com.tight.emojiink.animals</string>
	<key>128</key>
	<string>com.tight.emojiink.animals</string>
	<key>726</key>
	<string>com.tight.emojiink.animals</string>
	<key>730</key>
	<string>com.tight.emojiink.animals</string>
	<key>740</key>
	<string>com.tight.emojiink.animals</string>
	<key>744</key>
	<string>com.tight.emojiink.animals</string>
	<key>767</key>
	<string>com.tight.emojiink.animals</string>
	<key>771</key>
	<string>com.tight.emojiink.animals</string>
	<key>794</key>
	<string>com.tight.emojiink.animals</string>
	<key>796</key>
	<string>com.tight.emojiink.animals</string>
	<key>798</key>
	<string>com.tight.emojiink.animals</string>
	<key>819</key>
	<string>com.tight.emojiink.animals</string>
	<key>132</key>
	<string>com.tight.emojiink.animals</string>
	<key>854</key>
	<string>com.tight.emojiink.animals</string>
	<key>866</key>
	<string>com.tight.emojiink.animals</string>
	<key>886</key>
	<string>com.tight.emojiink.animals</string>
	<key>887</key>
	<string>com.tight.emojiink.animals</string>
	<key>889</key>
	<string>com.tight.emojiink.animals</string>
	<key>894</key>
	<string>com.tight.emojiink.animals</string>
	<key>895</key>
	<string>com.tight.emojiink.animals</string>
	<key>903</key>
	<string>com.tight.emojiink.animals</string>
	<key>914</key>
	<string>com.tight.emojiink.animals</string>
	<key>921</key>
	<string>com.tight.emojiink.animals</string>
	<key>187</key>
	<string>com.tight.emojiink.animals</string>
	<key>976</key>
	<string>com.tight.emojiink.animals</string>
	<key>978</key>
	<string>com.tight.emojiink.animals</string>
	<key>189</key>
	<string>com.tight.emojiink.animals</string>
	<key>202</key>
	<string>com.tight.emojiink.animals</string>
	
	
		<key>20</key>
		<string>com.tight.emojiink.hearts</string>
		<key>33</key>
		<string>com.tight.emojiink.hearts</string>
		<key>38</key>
		<string>com.tight.emojiink.hearts</string>
		<key>45</key>
		<string>com.tight.emojiink.hearts</string>
		<key>108</key>
		<string>com.tight.emojiink.hearts</string>
		<key>109</key>
		<string>com.tight.emojiink.hearts</string>
		<key>112</key>
		<string>com.tight.emojiink.hearts</string>
		<key>113</key>
		<string>com.tight.emojiink.hearts</string>
		<key>114</key>
		<string>com.tight.emojiink.hearts</string>
		<key>117</key>
		<string>com.tight.emojiink.hearts</string>
		<key>121</key>
		<string>com.tight.emojiink.hearts</string>
		<key>133</key>
		<string>com.tight.emojiink.hearts</string>
		<key>148</key>
		<string>com.tight.emojiink.hearts</string>
		<key>294</key>
		<string>com.tight.emojiink.hearts</string>
		<key>382</key>
		<string>com.tight.emojiink.hearts</string>
		<key>544</key>
		<string>com.tight.emojiink.hearts</string>
		
		<key>8</key>
		<string>com.tight.emojiink.sports</string>
		<key>57</key>
		<string>com.tight.emojiink.sports</string>
		<key>78</key>
		<string>com.tight.emojiink.sports</string>
		<key>184</key>
		<string>com.tight.emojiink.sports</string>
		<key>312</key>
		<string>com.tight.emojiink.sports</string>
		<key>345</key>
		<string>com.tight.emojiink.sports</string>
		<key>352</key>
		<string>com.tight.emojiink.sports</string>
		<key>362</key>
		<string>com.tight.emojiink.sports</string>
		<key>411</key>
		<string>com.tight.emojiink.sports</string>
		<key>586</key>
		<string>com.tight.emojiink.sports</string>
		<key>613</key>
		<string>com.tight.emojiink.sports</string>
		<key>619</key>
		<string>com.tight.emojiink.sports</string>
		<key>632</key>
		<string>com.tight.emojiink.sports</string>
		<key>672</key>
		<string>com.tight.emojiink.sports</string>
		<key>693</key>
		<string>com.tight.emojiink.sports</string>
		<key>717</key>
		<string>com.tight.emojiink.sports</string>
		<key>787</key>
		<string>com.tight.emojiink.sports</string>
		<key>826</key>
		<string>com.tight.emojiink.sports</string>
		<key>836</key>
		<string>com.tight.emojiink.sports</string>
		<key>899</key>
		<string>com.tight.emojiink.sports</string>
		<key>915</key>
		<string>com.tight.emojiink.sports</string>
		<key>924</key>
		<string>com.tight.emojiink.sports</string>
		<key>929</key>
		<string>com.tight.emojiink.sports</string>
		
		<key>13</key>
		<string>com.tight.emojiink.vegan</string>
		<key>24</key>
		<string>com.tight.emojiink.vegan</string>
		<key>44</key>
		<string>com.tight.emojiink.vegan</string>
		<key>86</key>
		<string>com.tight.emojiink.vegan</string>
		<key>89</key>
		<string>com.tight.emojiink.vegan</string>
		<key>90</key>
		<string>com.tight.emojiink.vegan</string>
		<key>93</key>
		<string>com.tight.emojiink.vegan</string>
		<key>106</key>
		<string>com.tight.emojiink.vegan</string>
		<key>136</key>
		<string>com.tight.emojiink.vegan</string>
		<key>178</key>
		<string>com.tight.emojiink.vegan</string>
		<key>179</key>
		<string>com.tight.emojiink.vegan</string>
		<key>368</key>
		<string>com.tight.emojiink.vegan</string>
		<key>406</key>
		<string>com.tight.emojiink.vegan</string>
		<key>408</key>
		<string>com.tight.emojiink.vegan</string>
		<key>554</key>
		<string>com.tight.emojiink.vegan</string>
		<key>573</key>
		<string>com.tight.emojiink.vegan</string>
		<key>577</key>
		<string>com.tight.emojiink.vegan</string>
		<key>607</key>
		<string>com.tight.emojiink.vegan</string>
		<key>687</key>
		<string>com.tight.emojiink.vegan</string>
		
		<key>30</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>56</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>76</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>84</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>87</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>96</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>182</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>210</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>217</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>218</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>290</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>302</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>311</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>314</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>317</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>323</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>324</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>326</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>330</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>331</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>337</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>342</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>343</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>395</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>456</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>457</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>518</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>550</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>571</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>578</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>588</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>629</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>634</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>651</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>688</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>689</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>690</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>729</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>741</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>742</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>791</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>821</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>841</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>861</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>867</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>869</key>
		<string>com.tight.emojiink.vehicles</string>
		<key>913</key>
		<string>com.tight.emojiink.vehicles</string>
</dict>



</plist>

